# ----- Entornos Virtuales -----
venv/
.venv/
env/
.env/

# ----- Python Cached Files -----
__pycache__/
*.py[cod]
*$py.class

# ----- Jupyter Notebooks -----
.ipynb_checkpoints/

# ----- Carpetas de Datos y Audios -----
# ¡MUY IMPORTANTE! Nunca subiremos los audios locales de NeuroVoz ni PC-GITA
data/
datasets/
dataset/
audios/
*.wav
*.mp3
*.flac

# ----- Modelos Guardados (Pesados) -----
# No subir los pesos temporales ni finales entrenados
*.pth
*.pt
models/saved/
best_model*.pth

# ----- Logs y Resultados -----
# Resultados que arroje CESVIMA o las imágenes que vayas sacando
logs/
*.log
output_*.txt
error_*.txt
*.png
*.pdf

# ----- Entornos de Desarrollo (IDE) -----
.vscode/
.idea/
.spyderproject

# ----- Sistema Operativo -----
.DS_Store
Thumbs.db
desktop.ini
