# ----- Entornos Virtuales -----
venv/
.venv/
env/
.env/

# ----- Python Cached Files -----
__pycache__/
*.py[cod]
*$py.class

# ----- Jupyter Notebooks -----
.ipynb_checkpoints/

# ----- Carpetas de Datos y Audios -----
data/
datasets/
dataset/
audios/
info/
preprocessing figures/
reorganizar_neurovoz.py
experiments_log.csv
experiments_log.xlsx
*.wav
*.mp3
*.flac
*.pdf
*.pt
*.gsheet


# ----- Modelos Guardados -----
*.pth
*.pt
models/saved/
best_model*.pth

# ----- Logs y Resultados -----
logs/
*.log
output_*.txt
error_*.txt
*.pdf

# ----- Entornos de Desarrollo (IDE) -----
.vscode/
.idea/
.spyderproject

# ----- Sistema Operativo -----
.DS_Store
Thumbs.db
desktop.ini
desktop.ini
Desktop.ini
Thumbs.db
ehthumbs.db
